body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 80vh;
}

.loader {
  border: 8px solid #f3f3f3; /* Vaalea harmaa */
  border-top: 8px solid #3498db; /* Sininen */
  border-radius: 50%;
  width: 40px; /* Pyörijän koko */
  height: 40px; /* Pyörijän koko */
  animation: spin 1s linear infinite; /* Pyörimis animaatio */
  margin: 20px auto; /* Keskitetään */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.language-switch {
  position: absolute;
  right: 0px;
}

.language-dropdown {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #6c757d;
  background-color: #f8f9fa;
  cursor: pointer;
}

.jokes {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.joke-card, .punchline-card {
  background-color: #fff;
  padding: 20px;
  margin: 10px 0;
  border-radius: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  word-wrap: break-word;
}

.joke-card {
  align-self: flex-start;
  background-color: #e1f5fe;
}

.punchline-card {
  align-self: flex-end;
  background-color: #c8e6c9;
}

.NewJokeButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 15px 30px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.NewJokeButton:hover {
  background-color: #0056b3;
}
